<tr class="tweet" id="<%= tweet.id %>">
  <td><%= tweet.body %></td>
  <td><%= tweet.user.username %></td>
  <td><%= tweet.created_at %></td>
  <td><%= link_to 'Show', tweet %></td>
  <td><%= link_to 'Destroy', tweet, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
